.HathiTrustLink {
    line-height: 1.2em;
    font-size: smaller;
    display: inline-block;
    margin-top: 5px;
}

.HathiTrustLink a {
    margin-left: 5px;
}

.HathiTrustLink span.icon {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
}

.HathiTrustLink span.icon-small {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
}

.HathiTrustLink span.icon-circle {
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
}

.HathiTrustLink span.icon-circle svg {
    width: 100%;
    height: 100%;
    display: block;
}

.HathiTrustLink .anchor-tag-style {
  color: #f36f21;
}