    <button *ngIf="showAction" (click)="processLink()" matTooltip="Hathi Accessible" mat-icon-button=""
        class="mat-mdc-tooltip-trigger mat-mdc-menu-trigger center-actions-icons action-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
        mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered=""
        aria-label="Hathi Accessible">
        <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span>
        <mat-icon role="img"
            class="mat-icon notranslate nde-mat-icon-size grey-icon-color-no-stroke mat-icon-no-color ng-star-inserted"
            aria-hidden="true">accessibility
        </mat-icon>
        <span class="mat-focus-indicator"></span>
        <span class="mat-mdc-button-touch-target"></span>
        <span class="mat-ripple mat-mdc-button-ripple"></span>
    </button>
